.color-button div {
  margin: 20px;
}
.button-group {
  float: right;
}
.button-groups button{
  padding-left: 20px;
  margin: 0!important;
}
.show-button .wb-button-group {
  margin-left: 20px;
}
.icon-button button,
.icon-button i,
.button-groups button {
  color: white;
}
.show-button .demo-block button {
  margin: 0 1em;
}