.container {
  white-space: nowrap;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  min-width: 900px;
  max-width: 1500px;
}
.view {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  white-space: initial;
  margin-left: 40px;
  margin-bottom: 100px;
}
.view > div {
  width: 95%;
  vertical-align: top;
  display: inline-block;
  float: right;
}
.view h2,
.view h3 {
  font-weight: normal;
  color: #1f2f3d;
  margin-top: 2em;
}

.view p {
  margin: 1em 0;
  font-size: 14px;
  color: #5e6d82;
}